<!DOCTYPE html>
<html lang="fr" data-theme="ocean">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% title %></title>
  <link rel="stylesheet" href="/assets/styles/tailwind.out.css">
  <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body class="bg-muted-foreground">
  <div class="container mx-auto p-6">
    <div class="max-w-2xl mx-auto bg-white rounded-lg shadow-lg p-6">
      <h1 class="text-center text-3xl font-bold text-muted-foreground mb-6">Welcome to dev portal</h1>

      <div class="routes mt-6">
        <h2 class="text-2xl font-bold text-muted-foreground mb-4">Available Routes :</h2>
        <% routes.forEach(function(route) { %>
          <div class="route border border-muted p-4 rounded-md mb-2">
            <span class="method font-bold text-primary"><%= route.methods.join(', ') %></span>
            <span class="path text-muted ml-2"><%= route.path %></span>
            <span class="middlewares text-muted-foreground ml-4">[<%= route.middlewares.join(', ') %>]</span>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</body>
</html>
