<!DOCTYPE html>
<html lang="en" data-theme="ocean">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/styles/tailwind.out.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
    <div class="flex min-h-screen flex-col items-center justify-center bg-background px-4 py-12 sm:px-6 lg:px-8">
        <%- body %>
    </div>
</body>
</html>
