<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
    <p class="text-xs text-muted-foreground">© 2024 Formidex. All rights reserved.</p>
    <nav class="sm:ml-auto flex gap-4 sm:gap-6">
      <a class="text-xs hover:underline underline-offset-4" target="_blank" href="https://github.com/formidex">GitHub</a>
      <a class="text-xs hover:underline underline-offset-4" target="_blank" href="/documentation">Documentation</a>
    </nav>
  </footer>
  