<header class="px-4 lg:px-6 h-14 flex items-center">
    <a class="flex items-center justify-center" href="/">
      <span class="text-4xl font-bold app-logo uppercase">Formidex</span>
    </a>
    <nav class="ml-auto flex gap-4 sm:gap-6">
      <a class="text-sm font-medium hover:underline underline-offset-4" href="/features">Features</a>
      <a href="/integrations" class="text-sm font-medium hover:underline underline-offset-4">Integrations</a>
      <a href="/self-hosting" class="text-sm font-medium hover:underline underline-offset-4">Self-host</a>
      <a href="https://github.com/fless-lab/formidex" class="text-sm font-medium hover:underline underline-offset-4" target="_blank">GitHub</a>
    </nav>
  </header>
  