@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import './partials/_variables.css';
@import './partials/_globals.css';

.button-primary {
    background-color: var(--primary);
    color: var(--background);
}

.app-logo {
    font-family: "Lilita One", sans-serif;
}